@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #ccc;  background-image: linear-gradient(to bottom right, #080808 , #003e7d , #00e1ff 200%);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-itens {
  list-style: none;
  display: flex;
}

.nav-itens>li>a {
  padding-left: 25px;
  text-decoration: none;
  color: #ccc;
  font-weight: 500;
}

.nav-logo img {
  max-width: 5rem;
  max-height: 5rem;
  border-radius: 5%;
  margin: 5px;
}
#servicos {
  text-align: justify;
  padding-top: 50px;
}

#servicos>h1,h3 {
  text-align: center;
}

#servicos aside p {
  text-indent: 1rem;
  padding-bottom: 10px;
  font-size: 1rem;
}

#servicos aside #text {
  font-size: 13px;
}

#servicos aside {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px 20px 0px 20px;
  padding: 10px 10px 0px 10px;
  background-color: rgba(0, 0, 0, 20%);
}

#servicos aside video {
  height: 320px;
  width: 360px;
}

#servicos #iframe {
  border: none;
  background-color: transparent;
  padding: 0;
  margin-top: 30px;
}

#servicos a {
  text-decoration: none;
  color: #ccc;
}

#contato>h1,h4 {
  text-align: center;
}

#contato aside a {
  color: #0000ff;
}

#contato aside {
  margin: 10px;
}

#contato {
  margin-top: 2rem;
}